langchain==0.1.20
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.52
langchain-groq==0.1.5
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
matplotlib==3.9.0
numpy==1.26.4
openai==1.35.5
pandas==1.5.3
pandasai==2.2.7
streamlit==1.36.0
streamlit-pills==0.3.0